/********************** Nav ********************** /


/********************** div **********************/
html {
  scroll-behavior: smooth;
}

#div1 {
  height: 100vh;
  background-color: lightblue;
}

#div2 {
  height: 100vh;
  background-color: lightgray;
}